.idea/misc.xml
.idea/workspace.xml
CheckerClient/.idea/misc.xml
CheckerClient/.idea/workspace.xml
CheckerServer/.idea/misc.xml
CheckerServer/.idea/workspace.xml
FXVersaServer/.idea/misc.xml
FXVersaServer/.idea/workspace.xml
